<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stress_analysis_app_android_combine_design">

    <!-- 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- 선택: 걸음 센서가 없는 기기도 설치 가능하게 -->
    <uses-feature android:name="android.hardware.sensor.stepcounter" android:required="false"/>

    <application
        android:name="${applicationName}"
        android:label="Stress Analysis App"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- 런처 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- 카카오 로그인 리디렉션 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="kakao18882fcc6a677cb38e068f955744f0b1"
                    android:host="oauth"/>
            </intent-filter>
        </activity>

        <!-- 카카오 SDK -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="18882fcc6a677cb38e068f955744f0b1"/>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>

    <!-- Android 11+ 쿼리 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="kakao"/>
        </intent>
    </queries>
</manifest>
